#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "hardlinks"
#define VER_INTERNALNAME_STR        "hardlinks.exe"
#define VER_ORIGINALFILENAME_STR    "hardlinks.exe"

#include "common.ver"

