<?xml version="1.0"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2003/01/wi">
<Fragment Id="UITextCommonFragmentId">

	<UI>
		<UIText Id="AbsentPath" />
		<UIText Id="bytes">$(loc.bytes)</UIText>
		<UIText Id="GB">$(loc.GB)</UIText>
		<UIText Id="KB">$(loc.KB)</UIText>
		<UIText Id="MB">$(loc.MB)</UIText>
		<UIText Id="MenuAbsent">$(loc.MenuAbsent)</UIText>
		<UIText Id="MenuAdvertise">$(loc.MenuAdvertise)</UIText>
		<UIText Id="MenuAllCD">$(loc.MenuAllCD)</UIText>
		<UIText Id="MenuAllLocal">$(loc.MenuAllLocal)</UIText>
		<UIText Id="MenuAllNetwork">$(loc.MenuAllNetwork)</UIText>
		<UIText Id="MenuCD">$(loc.MenuCD)</UIText>
		<UIText Id="MenuLocal">$(loc.MenuLocal)</UIText>
		<UIText Id="MenuNetwork">$(loc.MenuNetwork)</UIText>
		<UIText Id="ScriptInProgress">$(loc.ScriptInProgress)</UIText>
		<UIText Id="SelAbsentAbsent">$(loc.SelAbsentAbsent)</UIText>
		<UIText Id="SelAbsentAdvertise">$(loc.SelAbsentAdvertise)</UIText>
		<UIText Id="SelAbsentCD">$(loc.SelAbsentCD)</UIText>
		<UIText Id="SelAbsentLocal">$(loc.SelAbsentLocal)</UIText>
		<UIText Id="SelAbsentNetwork">$(loc.SelAbsentNetwork)</UIText>
		<UIText Id="SelAdvertiseAbsent">$(loc.SelAdvertiseAbsent)</UIText>
		<UIText Id="SelAdvertiseAdvertise">$(loc.SelAdvertiseAdvertise)</UIText>
		<UIText Id="SelAdvertiseCD">$(loc.SelAdvertiseCD)</UIText>
		<UIText Id="SelAdvertiseLocal">$(loc.SelAdvertiseLocal)</UIText>
		<UIText Id="SelAdvertiseNetwork">$(loc.SelAdvertiseNetwork)</UIText>
		<UIText Id="SelCDAbsent">$(loc.SelCDAbsent)</UIText>
		<UIText Id="SelCDAdvertise">$(loc.SelCDAdvertise)</UIText>
		<UIText Id="SelCDCD">$(loc.SelCDCD)</UIText>
		<UIText Id="SelCDLocal">$(loc.SelCDLocal)</UIText>
		<UIText Id="SelChildCostNeg">$(loc.SelChildCostNeg)</UIText>
		<UIText Id="SelChildCostPos">$(loc.SelChildCostPos)</UIText>
		<UIText Id="SelCostPending">$(loc.SelCostPending)</UIText>
		<UIText Id="SelLocalAbsent">$(loc.SelLocalAbsent)</UIText>
		<UIText Id="SelLocalAdvertise">$(loc.SelLocalAdvertise)</UIText>
		<UIText Id="SelLocalCD">$(loc.SelLocalCD)</UIText>
		<UIText Id="SelLocalLocal">$(loc.SelLocalLocal)</UIText>
		<UIText Id="SelLocalNetwork">$(loc.SelLocalNetwork)</UIText>
		<UIText Id="SelNetworkAbsent">$(loc.SelNetworkAbsent)</UIText>
		<UIText Id="SelNetworkAdvertise">$(loc.SelNetworkAdvertise)</UIText>
		<UIText Id="SelNetworkLocal">$(loc.SelNetworkLocal)</UIText>
		<UIText Id="SelNetworkNetwork">$(loc.SelNetworkNetwork)</UIText>
		<UIText Id="SelParentCostNegNeg">$(loc.SelParentCostNegNeg)</UIText>
		<UIText Id="SelParentCostNegPos">$(loc.SelParentCostNegPos)</UIText>
		<UIText Id="SelParentCostPosNeg">$(loc.SelParentCostPosNeg)</UIText>
		<UIText Id="SelParentCostPosPos">$(loc.SelParentCostPosPos)</UIText>
		<UIText Id="TimeRemaining">$(loc.TimeRemaining)</UIText>
		<UIText Id="VolumeCostAvailable">$(loc.VolumeCostAvailable)</UIText>
		<UIText Id="VolumeCostDifference">$(loc.VolumeCostDifference)</UIText>
		<UIText Id="VolumeCostRequired">$(loc.VolumeCostRequired)</UIText>
		<UIText Id="VolumeCostSize">$(loc.VolumeCostSize)</UIText>
		<UIText Id="VolumeCostVolume">$(loc.VolumeCostVolume)</UIText>
	</UI>
	
</Fragment>
</Wix>
