#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "Check driver's unload"
#define VER_INTERNALNAME_STR        "unload.exe"
#define VER_ORIGINALFILENAME_STR    "unload.exe"

#include "common.ver"

