<table class="tableborders" cellspacing="0" cellpadding="0" width="150" border="0">
  <tbody>
    <tr><td class="tableheads"><img height="19" alt="" src="http://z-oleg.com/images/info.gif" width="19" /></td><td class="tableheads" width="100%"><font class="smalltext"><b>Антивирусная утилита AVZ</b></font></td></tr>
    <tr><td class="tablebodys" colspan="2"><font class="smalltext">Версия: <strong>4.25</strong></font> 
        <br />
      <font class="smalltext">База: <strong>от 07.05.2007</strong></font> 
        <table class="smalltext" border="0">
          <tbody>
            <tr><td>Сигнатуры: </td><td><b>106420</b> </td></tr>
          
            <tr><td>Нейропрофили: </td><td><b>2</b></td></tr>
          
            <tr><td>МП эвристики: </td><td><b>370 </b></td></tr>
          
            <tr><td>МП лечения: </td><td><b>55 </b></td></tr>
          
            <tr><td>МП восстановления: </td><td><b>16</b> </td></tr>
          
            <tr><td>База безопасных: </td><td><b>59201</b> </td></tr>
          
            <tr><td>подробнее <a href="http://z-oleg.com/secur/avz/"><img height="9" src="http://z-oleg.com/arr_r.gif" width="13" border="0" /></a>&nbsp;</td></tr>
          </tbody>
        </table>
      </td></tr>
  </tbody>
</table>
