#include <windows.h>
#include <ntverp.h>

#define VER_FILETYPE                VFT_APP
#define VER_FILESUBTYPE             VFT2_UNKNOWN
#define VER_FILEDESCRIPTION_STR     "fidbox2 sample"
#define VER_INTERNALNAME_STR        "fidbox2.exe"
#define VER_ORIGINALFILENAME_STR    "fidbox2.exe"

#include "common.ver"

